[data-accordion] [data-accordion-item] {
  overflow: hidden;
}
[data-accordion] [data-accordion-item] input {
  position: absolute;
  opacity: 0;
}
[data-accordion] [data-accordion-item] label:after {
  content: "+";
  display: block;
  font-weight: bold;
  padding-right: 5px;
}
[data-accordion] [data-accordion-item] [data-accordion-content] {
  max-height: 0;
}
[data-accordion] [data-accordion-item] input:checked + label {
  opacity: 0.75;
}
[data-accordion] [data-accordion-item] input:checked ~ [data-accordion-content] {
  max-height: 100vh;
  padding: 1em;
}

[data-map] svg{
  max-height: 700px;
}

[data-map] path{
  fill: #37a80bab;
  stroke: #dece0c;
  stroke-width: 2px;
  cursor: pointer;
}

[data-map] g:hover path{
  fill: #dece0c;
  stroke: #dece0c;
  
}

[data-map] g.selected path{
  fill: #f9fd00;
  stroke: #f9fd00;
}

[data-map] .district-name{
  position: absolute;
  transform: translate(-70%, -60%);
  font-size: .8rem;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
  text-transform: capitalize;
}

.list-disc ul li {
  list-style-type: disc;
}

.list-inside ul li{
  list-style-position: inside;
}

.list-decimal ul li{
  list-style-type: decimal;
}

.youtube_video_bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw; /* 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* 16/9*100 = 177.77 */
  pointer-events: none; 
}

[data-youtube] iframe{
  opacity: 0;
}

[data-youtube] iframe.loaded {
  opacity: 1;
}